.sidebar{
    flex: 3;
    height: calc(100vh-50px);
    overflow-y: scroll;
    position: sticky;
    top: 50px;
    margin: 20px auto;
}


::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-track{
    width: 5px;
    background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb{
    width: 5px;
    background-color: rgb(175, 173, 173);
}

.sidebarWrapper{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;

}

.sidebarList{
    padding: 0;
    margin: 0;
    list-style: none;
}

.sidebarListItem{
    display: flex;
    align-items: center ;
    height: 50px;
}
.sidebarListItem:hover /* Apparence au survol des liens */
{
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
   text-decoration: underline;
   color: rgb(131, 95, 114);
   background-color: #8cd0ef;
}
.sidebarIcon{
    margin-right: 15px;
}

.sidebarButton{
    width: 150px;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-weight: 500;
    margin : 10px;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
}
.sidebarButton:hover 
{
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
   background-color: #8cd0ef;
}

.sidebarHR{
    margin: 20px 0;
}


.sidebarFriendList{
    padding: 0;
    margin: 0;
    list-style: none;
}
.sidebarFriend:hover 
{
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
   background-color: #8cd0ef;
}
.scrollbox {
    overflow: auto;
    width: 200px;
    max-height: 200px;
    margin: 50px auto;
    background: /* Shadow covers */
    linear-gradient(white 30%, rgba(255, 255, 255, 0)), linear-gradient(rgba(255, 255, 255, 0), white 70%) 0 100%, /* Shadows */
    radial-gradient(50% 0, farthest-side, rgba(0, 0, 0, .2), rgba(0, 0, 0, 0)), radial-gradient(50% 100%, farthest-side, rgba(0, 0, 0, .2), rgba(0, 0, 0, 0)) 0 100%;
    background: /* Shadow covers */
    linear-gradient(white 30%, rgba(255, 255, 255, 0)), linear-gradient(rgba(255, 255, 255, 0), white 70%) 0 100%, /* Shadows */
    radial-gradient(farthest-side at 50% 0, rgba(0, 0, 0, .2), rgba(0, 0, 0, 0)), radial-gradient(farthest-side at 50% 100%, rgba(0, 0, 0, .2), rgba(0, 0, 0, 0)) 0 100%;
    background-repeat: no-repeat;
    background-color: white;
    background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
    /* Opera doesn't support this in the shorthand */
    background-attachment: local, local, scroll, scroll;
  }
